@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
/*!base*/
*{
    margin:0;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Electrolize', sans-serif;
}
/*base*/

/*navbar*/
.navbar{
    background-color: black;
    height: 50px;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 60px;
}
.logo{
    font-size: 30px;
    
    color: #ff0039;
}

.menu-list{
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding: 0;
}
.menu-list-item{
    cursor: pointer;
}
.menu-list-item:hover{
    font-size: large;
}
.profile-text-container{
    display: flex;
    align-items: center;
}

/*sidebar*/
.sidebar{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 60px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    row-gap: 40px;
    position: fixed;
    top: 0;
    
}
.sidebar i{
    color: white;
    font-size: 20px;
    cursor: pointer;

}
/*sidebar*/


.content-wrapper{
    margin-left:70px ;
}
/*filter*/ 
.movie-list-filter{
    margin:20px 0 ;
    padding: 20px;

}
.movie-list-filter select{
    background-color: black;
    color: white;
    padding: 7px 0;
    width: 125px;
    text-align: center;
}
/*filter/* 

/*movie list */

.movie-list-container{
    margin-left: 50px ;
}
.movie-list{
    list-style: none;
    padding: 0;
    height: 500px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    transform: translateX(0);
}
.movie-list-wrapper{
    overflow: hidden;
    position: relative;
}
.movie-item{
    position: relative;
}
.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons{
    opacity:1;
}
.movie-item:hover .movie-item-img {
    transform: scale(1.2);
    margin: 0 30px;
}
.movie-item-img{
    width: 270px;
    height: 400px;
    /*object-fit: cover;*/
}
.movie-item-title{
    background-color: rgb(40, 40, 40,0.4);
    color: white;
    padding: 0 10 px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top:10%;
    left: 50px;
    opacity: 0;
}
.movie-item-buttons{
    background-color: rgb(40, 40, 40,0.4);
    color: rgb(255, 255, 255);
    padding: 10 px;
    font-weight: bold;
    position: absolute;
    bottom:10%;
    left: 50px;
    display: flex;
    column-gap: 20px;
}
.movie-item-buttons i{
    cursor:pointer;
    opacity: .5;
    font-size: 20px;
}
.movie-item-buttons i:hover{
    opacity: 1;
}
.arrow{
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 150px;
    color: white;
    opacity: .5;
    cursor: pointer;
}
.arrow:hover{
    opacity: 1;
}
/*movie-list*/