@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
/*!base*/
*{
    margin:0;
}
a{
    text-decoration:none;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: 'Electrolize', sans-serif;
    color: white;
}

/*base*/

/*navbar*/
.navbar{
    background-color: rgb(0, 0, 0);
    height: 50px;
    font-size: large;
    color: #ff0039;
    position: sticky;
    top: 0;
    z-index: 1;
    text-decoration:none;

    
}

.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 60px;
}
.logo{
    font-size: 30px;
    color: #ff0039;
}

.menu-list{
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding: 0;
    text-decoration:none;
    
}
.menu-list-item a{
    color: #ff0039;
    text-decoration:none;
    cursor: pointer;
}
.menu-list-item :hover{
    font-size: larger;
    

}
.profile-text-container{
    display: flex;
    align-items: center;
}

/*sidebar*/
.sidebar{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 60px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    row-gap: 40px;
    position: fixed;
    top: 0;
    
}
.sidebar i{
    color: white;
    font-size: 20px;
    cursor: pointer;

}
/*sidebar*/

.container{
    left: 70px;

}
.movie-artist{
    padding-top: 25px;
    color: #ff0039;
    height:85px ;

}
.movie-item-visual{
    height: auto;
    width: 800px;
    margin: auto;
    padding-top: 50px;
}

.movie-item-content{
    background-color: #000000;
    padding: 10px 100px 0px 0px;
    z-index: 1;
    flex-basis: 15%;
    left: 70px;
}
.movie-item-content-header{
    z-index: 1;
    flex-basis: 10%;
    padding-top: 50px;
    color: #ff0039;

}

.movie-item-content-info{
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.movie-item-info{
    padding-top: 50px;
}
.movie-item-img{
    z-index: 2;
}
.movie-item-img img{
    float: left;
    height: 380px;
    width: 250px;
    padding-left: 70px;
    padding-right: 50px;
    border-radius: 20px;
    object-fit: cover;
}
.info-group{
    display: flex;
    flex-direction: row;
}
.info-group-1{
    width: 15%;
    padding-left: 10px;
    font-weight: bold;
    color: #ff0039;
}
.info-group-2{
    width: 85%;
   }
.info-items{
    row-gap: 5px;
}

/*BUTTONS*/ 

.movie-item-buttons{

    display: flex;
    justify-content: flex-start;
    gap: 100px;
    padding-left: 70px;
    
}
.button{
    display: flex;
    flex-direction: row;
    row-gap: 100px;
    color: #ffffff;
    border: 2px solid;
    padding: 5px 10px 0px 10px;
    border-radius: 5px;
    
}
.button a{
    color: #ff0039;
}
.button:hover{
    font-size: larger;
}
.button-icon{
    padding: 0px 5px 0px 5px ;
    font-size: 25px;
}
.movie-comments{
    padding: 50px 0px 0px 70px;
    height: 1000px;

}
center{
    text-align: left;
    padding-top: 50px;
}

